@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
$width: 15vw;
$initPos: 50%;

// test.html 관련 css
/* section {
	width: 100%;
	height: 100vh;
	background: linear-gradient(80deg, lightblue, skyblue);
	overflow: hidden;
	position: relative;
	perspective: 600px;

	article {
		width: 800px;
		height: 500px;
		background: white;
		font-weight: bold;
		font-size: 20px;
		font-family: monospace;

		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -400px;
		margin-top: -250px;
		transition: 1s;

		&:nth-of-type(1) {
			opacity: 0;
			transform: translate(-200%, -200%) rotateY(80deg) scale(0.1);
		}

		&:nth-of-type(2) {
			opacity: 0.4;
			transform: translate(-100%, -100%) rotateY(40deg) scale(0.3);
		}

		&:nth-of-type(3) {
			opacity: 0.8;
			transform: translate(0%, 0%) rotateY(0deg) scale(1);
		}

		&:nth-of-type(4) {
			opacity: 0.4;
			transform: translate(100%, 100%) rotateY(-40deg) scale(0.3);
		}

		&:nth-of-type(5) {
			opacity: 0;
			transform: translate(200%, 200%) rotateY(-90deg) scale(0.1);
		}
	}
}

button {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	background: transparent;
	border: 1px solid white;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	line-height: 79px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	font-family: monospace;
	transition: border-color 1s;
	&.prev {
		left: 5%;
	}

	&.next {
		right: 5%;
	}

	&:hover {
		border-color: blue;
	}
} */
main {
	width: 100%;
	height: 100vh;
	background: #111;
	position: relative;
	overflow: hidden;

	.list {
		li {
			width: $width;
			height: 40vh;
			padding: 20px;
			position: absolute;
			top: 40%;
			left: $initPos;
			z-index: 3;
			transition: 1s;

			.inner {
				overflow: hidden;
				display: flex;
				align-items: center;
				width: 100%;
				height: 100%;
				padding: 20px;
				background: #333;
				border-radius: 15px;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
				transition: 1px;

				h2 {
					font: bold 20px/1 'Teko';
					color: #888;
					letter-spacing: 1px;
					transition: 0.5s 0.2s;

					&::before {
						content: '';
						display: block;
						width: 20px;
						height: 3px;
						background: #888;
						margin-bottom: 10px;
						transition: 0.5s;
					}
				}
			}
		}

		// 순서별 li의 위치 및 크기.
		// 첫번째 패널 : 기존에 활성화 되었다가 사라질 패널
		li:nth-of-type(1) {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0;
			opacity: 0;
			z-index: 1;
			transform: scale(2);
		}
		// 두번째 패널 : 리스트에서 활성화되는 패털
		li:nth-of-type(2) {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0;
			z-index: 2;
			transform: scale(1);

			.inner {
				background: #e03f3f;
				box-shadow: none;
				border-radius: 0;
				padding: 5vw;

				h2 {
					color: white;
					font-size: 8vw;

					&::before {
						background: white;
						height: 6px;
						width: 6vw;
						margin-bottom: 20px;
					}
				}
			}
		}
		li:nth-of-type(3) {
			left: calc($initPos + $width * 0);
		}
		li:nth-of-type(4) {
			left: calc($initPos + $width * 1);
		}
		li:nth-of-type(5) {
			left: calc($initPos + $width * 2);
		}
		li:nth-of-type(6) {
			left: calc($initPos + $width * 3);
		}
		li:nth-of-type(7) {
			left: calc($initPos + $width * 4);
		}
		li:nth-of-type(8) {
			left: calc($initPos + $width * 5);
		}
	}

	.navi {
		position: absolute;
		bottom: 5vw;
		left: 50%;
		color: white;
		z-index: 3;
		display: flex;

		p {
			text-align: center;
			line-height: 50px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 1px solid white;
		}
	}
}
